<footer>
    <div class="container">
        <div class="row footer-bottom">
        <div class="col-sm-7 footer-copyright">
            <p>Made with
            <a href=""><i class="fa fa-heart" aria-hidden="true"></i></a>
            .</p>
        </div>
        <div class="col-sm-5">
            <ul class="list-inline footer-social">
            <li><a class="facebook" target="_blank" href=""><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" target="_blank" href=""><i class="fa fa-twitter"></i></a></li>
            <li><a class="google-plus" target="_blank" href=""><i class="fa fa-google-plus"></i></a></li>
            <li><a class="tumblr" target="_blank" href=""><i class="fa fa-tumblr"></i></a></li>
            <li><a class="pinterest" target="_blank" href=""><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>