<div class="col-sm-6 col-md-12 col-lg-12">
    <div class="panel panel-default theme-panel">
        <div class="panel-heading">Tags</div>
        <div class="panel-body">
            <ul class="list-inline tags">
            <li><a href="">LifeStyle</a></li>
            <li class="big"><a href="">Music</a></li>
            <li><a href="">SmartPhones</a></li>
            <li><a href="">Business</a></li>
            <li><a href="">Travel</a></li>
            <li class="big"><a href="">Business</a></li>
            <li class="small"><a href="">LifeStyle</a></li>
            <li><a href="">SmartPhones</a></li>
            <li><a href="">Fireworks</a></li>
            <li class="big"><a href="">Travel</a></li>
            <li><a href="">Fireworks</a></li>
            <li class="small"><a href="">Music</a></li>
            </ul>
        </div>
    </div>
</div>