<progress-bar show-progress="vm.showProgress"></progress-bar>
<div class="panel panel-primary" >
    <div class="panel-heading"
         style="font-size:large">{{::vm.title}}
    </div>

    <div class="panel-body">
        <table class="table">

            <thead>
            <tr>
                <td>
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="vm.toggleImage()">
                        {{vm.showImage ? "Hide" : "Show"}} Image
                    </button>
                </td>
                <td>Product</td>
                <td>Code</td>
                <td>Available</td>
                <td>Price</td>
                <td>Detalle</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="post in vm.posts">
                <td>
                    <img ng-if="vm.showImage"
                         ng-src="{{post.imageUrl}}"
                         style="width:50px;margin:2px"
                         title="{{post.postName}}">
                </td>
                <td>{{ post.postName}} </td>
                <td>{{ post.postCode }}</td>
                <td>{{ post.publishDate | date }}</td>
                <td>{{ post.price | currency }}</td>
                <td><button class="btn btn-success"
                            data-toggle="modal" 
                            data-target="#myModal"
                            ng-click="vm.currentPost = product">detalle</button></td>
            </tr>
            </tbody>
        </table>
    </div>
      <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Producto</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive"
                        ng-src="{{ vm.currentPost.imageUrl}}" alt="">
                </div>
                <div class="col-sm-8">
                    <p><b>Name: </b>{{ vm.currentPost.productName }}</p>
                    <p><b>Code: </b>{{ vm.currentPost.productCode }}</p>
                    <p><b>Price: </b>: {{ vm.currentPost.price }}</p>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
</div>